<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>E learning platform</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Add additional CSS in a static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body style="background-color:white;">

      {% block topbar %}
        <div class="navbar">
          <a href="#home">Home</a>
          <a href="#news">News</a>
          <form action="" method="get" class="form-group">
            <input type="text" name="search_text" placeholder="Search" class="centered-input" style="width: 400px; height: 30px; border-radius: 20;">
          </form>
          <a href="#login" class="split">Log in</a>
          <a href="#signin" class="split">Sign in</a>

          <div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Categorys
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
              <a href="#">Programing Languages</a>
              <div class="sub-dropdown">
                <a href="#">Python</a>
                <a href="#">Java</a>
              </div>
              <a href="#">Development</a>
              <a href="#">Contact</a>
            </div>
          </div>
        </div>


      {% endblock %}

    <div class="col-sm-10 ">{% block content %}{% endblock %}</div>


<script>

function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>

</body>
</html>
