{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="jumbotron text-left" style="background-image: url({% static 'images/header.jpg' %}); background-size: 100%;">
  <h1>Welcome to eLearning Platform</h1>
  <p>Learn, Explore, and Excel in your chosen field.</p>
  <a href="{% url 'courses-list-url' %}">Browse Courses</a>
</div>

<section id="courses" class="text-center">
  <h2>{{ course.title }}</h2>
  <div class="course">
    <img src="{% static 'images/python.jpg' %}" alt="Course 1">
    <p>{{ course.description }}</p>
    <p>Course instructor: {{ course.instructor }}</p>
  </div>
</section>


{% endblock %}

