{% extends 'base.html' %}

{% block title %}<title>Welcome to E-learning Platform</title>{% endblock %}

{% block content %}
{% load static %}
<div class="jumbotron text-left" style="background-image: url({% static 'images/header.jpg' %}); background-size: 100%;">
  <h1>Welcome to eLearning Platform</h1>
  <p>Learn, Explore, and Excel in your chosen field.</p>
  <a href="#courses">Browse Courses</a>
</div>

<div class="row">
{% for course in course_list %}
<div class="col-sm-6 col-md-3 d-flex align-items-stretch">
  <div class="card mb-4 shadow-sm">

  <h2>{{ course.title }}</h2>

    {% if course.cover %}
    <img src="{{ course.cover.url }}" class="card-img-top">
    <p>{{ course.description }}</p>
    {% else %}
    <img src="{% static 'img/no-image.png' %}" class="card-img-top">
    {% endif %}
    <div class="card-body">
      <p class="card-text"><a href="{% url 'course-one' course.id%}">Learn More</a></p>
    </div>
  </div>
  </div>

{% endfor %}
</div>
{% endblock %}
