{% extends "base.html" %}
{% block content %}
{% load static %}
<h3>Search results "{{ query_t }}"</h3>

{% if search_results_t %}
<ul>

    {% for course in search_results_t %}
    <section id="courses" class="text-center">
        <h2><a href="{% url 'course-one' course.id%}">{{ course.title }}</a></h2>
        <div class="course">
            <img src="{% static 'images/python.jpg' %}" alt="Course 1">
            <p>{{ course.description }} <br>Instructor: {{course.instructor}}</p>
        </div>
    </section>
    {% endfor %}

</ul>
{% else %}
<p>Sorry, we could not find what you are looking for...</p>
{% endif %}
{% endblock %}

